html {
    height: 100%;
    width: 100%
}

body {
    font-family: "Open Sans", serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none
}

@font-face {
    font-family: tahoma_regular;
    src: url(assets/tahoma.woff2) format("woff2"), url(assets/tahoma.ttf) format("truetype")
}

@font-face {
    font-family: tahoma_bold;
    src: url(assets/tahomabd.woff2) format("woff2"), url(assets/tahomabd.ttf) format("truetype")
}

.ipadPro129inHomepage {
    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    overflow-x: auto;
    overflow-y: auto;
    background-color: rgba(16, 16, 51, 1);
    width: auto;
    height: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0
}

    .ipadPro129inHomepage .navbar {
        display: block;
        position: absolute;
        box-sizing: content-box;
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -ms-transform-origin: center;
        -webkit-transform-origin: center;
        transform-origin: center;
        opacity: 1;
        cursor: default;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
        overflow-x: unset;
        overflow-y: unset;
        background-color: transparent;
        width: 1023px;
        height: 115px;
        left: 0.097656vw;
        top: 0
    }

        .ipadPro129inHomepage .navbar .rectangle2 {
            position: absolute;
            box-sizing: content-box;
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -ms-transform-origin: center;
            -webkit-transform-origin: center;
            transform-origin: center;
            opacity: 1;
            cursor: default;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
            background-color: rgba(16, 16, 51, 1);
            border-bottom-color: rgba(248, 248, 248, 1);
            border-bottom-style: none;
            border-bottom-width: 1px;
            border-left-color: rgba(248, 248, 248, 1);
            border-left-style: none;
            border-left-width: 1px;
            border-right-color: rgba(248, 248, 248, 1);
            border-right-style: none;
            border-right-width: 1px;
            border-top-color: rgba(248, 248, 248, 1);
            border-top-style: none;
            border-top-width: 1px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            box-shadow: none;
            width: 1023px;
            height: 115px;
            left: 0;
            top: 0
        }

        .ipadPro129inHomepage .navbar .component32 {
            display: block;
            position: absolute;
            box-sizing: content-box;
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -ms-transform-origin: center;
            -webkit-transform-origin: center;
            transform-origin: center;
            opacity: 1;
            cursor: default;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
            overflow-x: unset;
            overflow-y: unset;
            background-color: transparent;
            width: 134px;
            height: 48px;
            left: 81.933594vw;
            top: 48px
        }

            .ipadPro129inHomepage .navbar .component32 .contact {
                position: absolute;
                box-sizing: content-box;
                -ms-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                -ms-transform-origin: center;
                -webkit-transform-origin: center;
                transform-origin: center;
                opacity: 1;
                cursor: default;
                margin-top: 0;
                margin-right: 0;
                margin-bottom: 0;
                margin-left: 0;
                padding-top: 0;
                padding-right: 0;
                padding-bottom: 0;
                padding-left: 0;
                background-color: rgba(255, 255, 255, 0);
                text-align: left;
                letter-spacing: 0;
                color: rgba(255, 255, 255, 1);
                -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
                font-size: 40px;
                font-weight: 400;
                font-style: normal;
                font-family: tahoma_regular, Arial;
                text-decoration: none;
                box-shadow: none;
                overflow-x: unset;
                overflow-y: unset;
                white-space: pre;
                width: 134px;
                height: 48px;
                left: 0;
                top: 0
            }

        .ipadPro129inHomepage .navbar .classwork040bb5cf {
            display: block;
            position: absolute;
            box-sizing: content-box;
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -ms-transform-origin: center;
            -webkit-transform-origin: center;
            transform-origin: center;
            opacity: 1;
            cursor: pointer;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
            overflow-x: unset;
            overflow-y: unset;
            background-color: transparent;
            width: 176px;
            height: 48px;
            left: 59.863281vw;
            top: 48px;
            border: none;
            outline: none
        }

            .ipadPro129inHomepage .navbar .classwork040bb5cf .classwork8d485583 {
                position: absolute;
                box-sizing: content-box;
                -ms-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                -ms-transform-origin: center;
                -webkit-transform-origin: center;
                transform-origin: center;
                opacity: 1;
                cursor: pointer;
                margin-top: 0;
                margin-right: 0;
                margin-bottom: 0;
                margin-left: 0;
                padding-top: 0;
                padding-right: 0;
                padding-bottom: 0;
                padding-left: 0;
                background-color: rgba(255, 255, 255, 0);
                text-align: left;
                letter-spacing: 0;
                color: rgba(255, 255, 255, 1);
                -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
                font-size: 40px;
                font-weight: 400;
                font-style: normal;
                font-family: tahoma_regular, Arial;
                text-decoration: none;
                box-shadow: none;
                overflow-x: unset;
                overflow-y: unset;
                white-space: pre;
                width: 176px;
                height: 48px;
                left: 0;
                top: 0
            }

        .ipadPro129inHomepage .navbar .homeLink {
            display: block;
            position: absolute;
            box-sizing: content-box;
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -ms-transform-origin: center;
            -webkit-transform-origin: center;
            transform-origin: center;
            opacity: 1;
            cursor: pointer;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
            overflow-x: unset;
            overflow-y: unset;
            background-color: transparent;
            width: 103px;
            height: 48px;
            left: 44.921875vw;
            top: 48px;
            border: none;
            outline: none
        }

            .ipadPro129inHomepage .navbar .homeLink .home {
                position: absolute;
                box-sizing: content-box;
                -ms-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                -ms-transform-origin: center;
                -webkit-transform-origin: center;
                transform-origin: center;
                opacity: 1;
                cursor: pointer;
                margin-top: 0;
                margin-right: 0;
                margin-bottom: 0;
                margin-left: 0;
                padding-top: 0;
                padding-right: 0;
                padding-bottom: 0;
                padding-left: 0;
                background-color: rgba(255, 255, 255, 0);
                text-align: left;
                letter-spacing: 0;
                color: rgba(255, 255, 255, 1);
                -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
                font-size: 40px;
                font-weight: 400;
                font-style: normal;
                font-family: tahoma_regular, Arial;
                text-decoration: none;
                box-shadow: none;
                overflow-x: unset;
                overflow-y: unset;
                white-space: pre;
                width: 103px;
                height: 48px;
                left: 0;
                top: 0
            }

        .ipadPro129inHomepage .navbar .ethanDouglass27c0ca80 {
            position: absolute;
            box-sizing: content-box;
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -ms-transform-origin: center;
            -webkit-transform-origin: center;
            transform-origin: center;
            opacity: 1;
            cursor: default;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
            background-color: rgba(255, 255, 255, 0);
            text-align: left;
            letter-spacing: 0;
            color: rgba(255, 255, 255, 1);
            -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
            font-size: 40px;
            font-weight: 700;
            font-style: normal;
            font-family: tahoma_bold, Arial;
            text-decoration: none;
            box-shadow: none;
            overflow-x: unset;
            overflow-y: unset;
            white-space: pre;
            width: 311px;
            height: 48px;
            left: 4.980469vw;
            top: 48px
        }

    .ipadPro129inHomepage .introBlurb {
        display: block;
        position: absolute;
        box-sizing: content-box;
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -ms-transform-origin: center;
        -webkit-transform-origin: center;
        transform-origin: center;
        opacity: 1;
        cursor: default;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
        overflow-x: unset;
        overflow-y: unset;
        background-color: transparent;
        width: 1024px;
        height: 800px;
        left: 0;
        top: 1360px
    }

        .ipadPro129inHomepage .introBlurb .maskGroup2 {
            display: block;
            position: absolute;
            box-sizing: content-box;
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -ms-transform-origin: center;
            -webkit-transform-origin: center;
            transform-origin: center;
            background-image: url(./assets/maskGroupTablet.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 1;
            cursor: default;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
            overflow-x: unset;
            overflow-y: unset;
            background-color: transparent;
            width: 1024px;
            height: 800px;
            left: 0;
            top: 0
        }

            .ipadPro129inHomepage .introBlurb .maskGroup2 .ellipse1 {
                position: absolute;
                box-sizing: content-box;
                -ms-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                -ms-transform-origin: center;
                -webkit-transform-origin: center;
                transform-origin: center;
                opacity: 1;
                cursor: default;
                margin-top: 0;
                margin-right: 0;
                margin-bottom: 0;
                margin-left: 0;
                padding-top: 0;
                padding-right: 0;
                padding-bottom: 0;
                padding-left: 0;
                fill: rgba(255, 36, 255, 1);
                box-shadow: none;
                width: 345.24px;
                height: 345.24px;
                left: -172.62px;
                top: -172.62px
            }

            .ipadPro129inHomepage .introBlurb .maskGroup2 .ellipse2 {
                position: absolute;
                box-sizing: content-box;
                -ms-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                -ms-transform-origin: center;
                -webkit-transform-origin: center;
                transform-origin: center;
                opacity: 1;
                cursor: default;
                margin-top: 0;
                margin-right: 0;
                margin-bottom: 0;
                margin-left: 0;
                padding-top: 0;
                padding-right: 0;
                padding-bottom: 0;
                padding-left: 0;
                fill: rgba(36, 255, 80, 1);
                box-shadow: none;
                width: 345.24px;
                height: 345.24px;
                left: 851.38px;
                top: 627.38px
            }

            .ipadPro129inHomepage .introBlurb .maskGroup2 .rectangle8 {
                position: absolute;
                box-sizing: border-box;
                -ms-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                -ms-transform-origin: center;
                -webkit-transform-origin: center;
                transform-origin: center;
                background-image: url(./assets/rectangle8.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                opacity: 1;
                cursor: default;
                margin-top: 0;
                margin-right: 0;
                margin-bottom: 0;
                margin-left: 0;
                padding-top: 0;
                padding-right: 0;
                padding-bottom: 0;
                padding-left: 0;
                background-color: rgba(255, 255, 255, 1);
                border-bottom-color: rgba(112, 112, 112, 1);
                border-bottom-style: solid;
                border-bottom-width: 1px;
                border-left-color: rgba(112, 112, 112, 1);
                border-left-style: solid;
                border-left-width: 1px;
                border-right-color: rgba(112, 112, 112, 1);
                border-right-style: solid;
                border-right-width: 1px;
                border-top-color: rgba(112, 112, 112, 1);
                border-top-style: solid;
                border-top-width: 1px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                box-shadow: none;
                width: 1024px;
                height: 800px;
                left: 0;
                top: 0
            }

        .ipadPro129inHomepage .introBlurb .niceToSeeYou {
            position: absolute;
            box-sizing: content-box;
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -ms-transform-origin: center;
            -webkit-transform-origin: center;
            transform-origin: center;
            opacity: 1;
            cursor: default;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
            background-color: rgba(255, 255, 255, 0);
            text-align: center;
            line-height: 52px;
            letter-spacing: 0;
            color: rgba(255, 255, 255, 1);
            -webkit-text-stroke: unset;
            font-size: 62px;
            font-weight: 700;
            font-style: normal;
            font-family: tahoma_bold, Arial;
            text-decoration: none;
            box-shadow: none;
            overflow-x: unset;
            overflow-y: unset;
            width: 574px;
            height: 137px;
            left: 37.207031vw;
            top: 92.5px
        }

        .ipadPro129inHomepage .introBlurb .iBetYouWantToKnowAboutMeCauseYourOnMySite {
            position: absolute;
            box-sizing: content-box;
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -ms-transform-origin: center;
            -webkit-transform-origin: center;
            transform-origin: center;
            opacity: 1;
            cursor: default;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
            background-color: rgba(255, 255, 255, 0);
            text-align: center;
            line-height: 52px;
            letter-spacing: 0;
            color: rgba(255, 255, 255, 1);
            -webkit-text-stroke: unset;
            font-size: 38px;
            font-weight: 400;
            font-style: normal;
            font-family: tahoma_regular, Arial;
            text-decoration: none;
            box-shadow: none;
            overflow-x: unset;
            overflow-y: unset;
            width: 574px;
            height: 115px;
            left: 37.207031vw;
            top: 178px
        }

        .ipadPro129inHomepage .introBlurb .iLiveInSherwoodOregonInTheUnitedStatesAndILoveAllThingsTechAndProgrammingIveWorkedOnAllSortsOfHobbyProjectsIncludingMicroelectronicsGameDesignFullStackDevelopmentAndSomeOtherThingsTooMyDreamJobWouldBeASoftwa {
            position: absolute;
            box-sizing: content-box;
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -ms-transform-origin: center;
            -webkit-transform-origin: center;
            transform-origin: center;
            opacity: 1;
            cursor: default;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
            background-color: rgba(255, 255, 255, 0);
            text-align: center;
            line-height: 52px;
            letter-spacing: 0;
            color: rgba(255, 255, 255, 1);
            -webkit-text-stroke: unset;
            font-size: 38px;
            font-weight: 400;
            font-style: normal;
            font-family: tahoma_regular, Arial;
            text-decoration: none;
            box-shadow: none;
            overflow-x: unset;
            overflow-y: unset;
            white-space: pre;
            width: 918px;
            height: 306px;
            left: 2.246094vw;
            top: 414px
        }

        .ipadPro129inHomepage .introBlurb .okSoHeresABlurb {
            position: absolute;
            box-sizing: content-box;
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -ms-transform-origin: center;
            -webkit-transform-origin: center;
            transform-origin: center;
            opacity: 1;
            cursor: default;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
            background-color: rgba(255, 255, 255, 0);
            text-align: center;
            line-height: 52px;
            letter-spacing: 0;
            color: rgba(255, 255, 255, 1);
            -webkit-text-stroke: unset;
            font-size: 38px;
            font-weight: 400;
            font-style: normal;
            font-family: tahoma_regular, Arial;
            text-decoration: none;
            box-shadow: none;
            overflow-x: unset;
            overflow-y: unset;
            white-space: pre;
            width: 371px;
            height: 46px;
            left: 29.003906vw;
            top: 353px
        }

    .ipadPro129inHomepage .hiThereImEthanaspiringDeveloperAndStudentInSherwoodOregonFluentInC {
        position: absolute;
        box-sizing: content-box;
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -ms-transform-origin: center;
        -webkit-transform-origin: center;
        transform-origin: center;
        opacity: 1;
        cursor: default;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
        background-color: rgba(255, 255, 255, 0);
        text-align: left;
        line-height: 52px;
        letter-spacing: 0;
        color: rgba(255, 255, 255, 1);
        -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
        font-size: 38px;
        font-weight: 400;
        font-style: normal;
        font-family: tahoma_regular, Arial;
        text-decoration: none;
        box-shadow: none;
        overflow-x: unset;
        overflow-y: unset;
        width: 617px;
        height: 399px;
        left: 19.921875vw;
        top: 201.5px
    }

        .ipadPro129inHomepage .hiThereImEthanaspiringDeveloperAndStudentInSherwoodOregonFluentInC .hiThereImEthanaspiringDeveloperAndStudentInSherwoodOregonFluentInC-0 {
            color: rgba(255, 255, 255, 1);
            font-weight: 700;
            font-style: normal;
            font-size: 62px;
            font-family: tahoma_bold, Arial;
            letter-spacing: 0;
            text-decoration: none
        }

        .ipadPro129inHomepage .hiThereImEthanaspiringDeveloperAndStudentInSherwoodOregonFluentInC .hiThereImEthanaspiringDeveloperAndStudentInSherwoodOregonFluentInC-21 {
            color: rgba(255, 255, 255, 1);
            font-weight: 400;
            font-style: normal;
            font-size: 38px;
            font-family: tahoma_regular, Arial;
            letter-spacing: 0;
            text-decoration: none
        }

    .ipadPro129inHomepage .classworkbtn {
        display: block;
        position: absolute;
        box-sizing: content-box;
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -ms-transform-origin: center;
        -webkit-transform-origin: center;
        transform-origin: center;
        opacity: 1;
        cursor: pointer;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
        overflow-x: unset;
        overflow-y: unset;
        background-color: transparent;
        width: 277px;
        height: 76px;
        left: 25.683594vw;
        top: 513px;
        border: none;
        outline: none
    }

        .ipadPro129inHomepage .classworkbtn .rectangle6 {
            position: absolute;
            box-sizing: border-box;
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -ms-transform-origin: center;
            -webkit-transform-origin: center;
            transform-origin: center;
            opacity: 1;
            cursor: pointer;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
            background-color: rgba(255, 36, 255, 1);
            border-bottom-color: rgba(255, 36, 255, 1);
            border-bottom-style: solid;
            border-bottom-width: 5px;
            border-left-color: rgba(255, 36, 255, 1);
            border-left-style: solid;
            border-left-width: 5px;
            border-right-color: rgba(255, 36, 255, 1);
            border-right-style: solid;
            border-right-width: 5px;
            border-top-color: rgba(255, 36, 255, 1);
            border-top-style: solid;
            border-top-width: 5px;
            border-top-left-radius: 36px;
            border-top-right-radius: 36px;
            border-bottom-left-radius: 36px;
            border-bottom-right-radius: 36px;
            box-shadow: none;
            width: 277px;
            height: 76px;
            left: 0;
            top: 0
        }

        .ipadPro129inHomepage .classworkbtn .classwork93460421 {
            position: absolute;
            box-sizing: content-box;
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -ms-transform-origin: center;
            -webkit-transform-origin: center;
            transform-origin: center;
            opacity: 1;
            cursor: pointer;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
            background-color: rgba(255, 255, 255, 0);
            text-align: center;
            line-height: 52px;
            letter-spacing: 0;
            color: rgba(255, 255, 255, 1);
            -webkit-text-stroke: unset;
            font-size: 29px;
            font-weight: 400;
            font-style: normal;
            font-family: tahoma_regular, Arial;
            text-decoration: none;
            box-shadow: none;
            overflow-x: unset;
            overflow-y: unset;
            white-space: pre;
            width: 232px;
            height: 35px;
            left: 2.246094vw;
            top: 12.5px
        }

    .ipadPro129inHomepage .rectangle7 {
        position: absolute;
        box-sizing: content-box;
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -ms-transform-origin: center;
        -webkit-transform-origin: center;
        transform-origin: center;
        opacity: 1;
        cursor: default;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
        background-color: rgba(9, 9, 29, 1);
        border-bottom-color: rgba(112, 112, 112, 1);
        border-bottom-style: none;
        border-bottom-width: 1px;
        border-left-color: rgba(112, 112, 112, 1);
        border-left-style: none;
        border-left-width: 1px;
        border-right-color: rgba(112, 112, 112, 1);
        border-right-style: none;
        border-right-width: 1px;
        border-top-color: rgba(112, 112, 112, 1);
        border-top-style: none;
        border-top-width: 1px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: none;
        width: 424px;
        height: 602px;
        left: 29.296875vw;
        top: 664px
    }

    .ipadPro129inHomepage .footer7a2949b0 {
        display: block;
        position: absolute;
        box-sizing: content-box;
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -ms-transform-origin: center;
        -webkit-transform-origin: center;
        transform-origin: center;
        opacity: 1;
        cursor: default;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
        overflow-x: unset;
        overflow-y: unset;
        background-color: transparent;
        width: 1024px;
        height: 204px;
        left: 0;
        top: 2160px
    }

        .ipadPro129inHomepage .footer7a2949b0 .footer {
            position: absolute;
            box-sizing: content-box;
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -ms-transform-origin: center;
            -webkit-transform-origin: center;
            transform-origin: center;
            opacity: 1;
            cursor: default;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
            background-color: transparent;
            border-bottom-color: rgba(112, 112, 112, 1);
            border-bottom-style: none;
            border-bottom-width: 1px;
            border-left-color: rgba(112, 112, 112, 1);
            border-left-style: none;
            border-left-width: 1px;
            border-right-color: rgba(112, 112, 112, 1);
            border-right-style: none;
            border-right-width: 1px;
            border-top-color: rgba(112, 112, 112, 1);
            border-top-style: none;
            border-top-width: 1px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            box-shadow: none;
            width: 1024px;
            height: 204px;
            left: 0;
            top: 0
        }

        .ipadPro129inHomepage .footer7a2949b0 .classworkc42cafb6 {
            display: block;
            position: absolute;
            box-sizing: content-box;
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -ms-transform-origin: center;
            -webkit-transform-origin: center;
            transform-origin: center;
            opacity: 1;
            cursor: pointer;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
            overflow-x: unset;
            overflow-y: unset;
            background-color: transparent;
            width: 154px;
            height: 42px;
            left: 6.25vw;
            top: 55px;
            border: none;
            outline: none
        }

            .ipadPro129inHomepage .footer7a2949b0 .classworkc42cafb6 .classwork6f859471 {
                position: absolute;
                box-sizing: content-box;
                -ms-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                -ms-transform-origin: center;
                -webkit-transform-origin: center;
                transform-origin: center;
                opacity: 1;
                cursor: pointer;
                margin-top: 0;
                margin-right: 0;
                margin-bottom: 0;
                margin-left: 0;
                padding-top: 0;
                padding-right: 0;
                padding-bottom: 0;
                padding-left: 0;
                background-color: rgba(255, 255, 255, 0);
                text-align: left;
                letter-spacing: 0;
                color: rgba(255, 255, 255, 1);
                -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
                font-size: 35px;
                font-weight: 400;
                font-style: normal;
                font-family: tahoma_regular, Arial;
                text-decoration: none;
                box-shadow: none;
                overflow-x: unset;
                overflow-y: unset;
                white-space: pre;
                width: 154px;
                height: 42px;
                left: 0;
                top: 0
            }

        .ipadPro129inHomepage .footer7a2949b0 .classwork353cc0ad {
            display: block;
            position: absolute;
            box-sizing: content-box;
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -ms-transform-origin: center;
            -webkit-transform-origin: center;
            transform-origin: center;
            opacity: 1;
            cursor: pointer;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
            overflow-x: unset;
            overflow-y: unset;
            background-color: transparent;
            width: 117px;
            height: 42px;
            left: 38.964844vw;
            top: 55px;
            border: none;
            outline: none
        }

            .ipadPro129inHomepage .footer7a2949b0 .classwork353cc0ad .classworkda9e6e7b {
                position: absolute;
                box-sizing: content-box;
                -ms-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                -ms-transform-origin: center;
                -webkit-transform-origin: center;
                transform-origin: center;
                opacity: 1;
                cursor: pointer;
                margin-top: 0;
                margin-right: 0;
                margin-bottom: 0;
                margin-left: 0;
                padding-top: 0;
                padding-right: 0;
                padding-bottom: 0;
                padding-left: 0;
                background-color: rgba(255, 255, 255, 0);
                text-align: left;
                letter-spacing: 0;
                color: rgba(255, 255, 255, 1);
                -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
                font-size: 35px;
                font-weight: 400;
                font-style: normal;
                font-family: tahoma_regular, Arial;
                text-decoration: none;
                box-shadow: none;
                overflow-x: unset;
                overflow-y: unset;
                white-space: pre;
                width: 117px;
                height: 42px;
                left: 0;
                top: 0
            }

        .ipadPro129inHomepage .footer7a2949b0 .projects {
            display: block;
            position: absolute;
            box-sizing: content-box;
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -ms-transform-origin: center;
            -webkit-transform-origin: center;
            transform-origin: center;
            opacity: 1;
            cursor: pointer;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
            overflow-x: unset;
            overflow-y: unset;
            background-color: transparent;
            width: 123px;
            height: 42px;
            left: 24.121094vw;
            top: 55px;
            border: none;
            outline: none
        }

            .ipadPro129inHomepage .footer7a2949b0 .projects .classwork {
                position: absolute;
                box-sizing: content-box;
                -ms-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                -ms-transform-origin: center;
                -webkit-transform-origin: center;
                transform-origin: center;
                opacity: 1;
                cursor: pointer;
                margin-top: 0;
                margin-right: 0;
                margin-bottom: 0;
                margin-left: 0;
                padding-top: 0;
                padding-right: 0;
                padding-bottom: 0;
                padding-left: 0;
                background-color: rgba(255, 255, 255, 0);
                text-align: left;
                letter-spacing: 0;
                color: rgba(255, 255, 255, 1);
                -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
                font-size: 35px;
                font-weight: 400;
                font-style: normal;
                font-family: tahoma_regular, Arial;
                text-decoration: none;
                box-shadow: none;
                overflow-x: unset;
                overflow-y: unset;
                white-space: pre;
                width: 123px;
                height: 42px;
                left: 0;
                top: 0
            }

        .ipadPro129inHomepage .footer7a2949b0 .ethanDouglass {
            position: absolute;
            box-sizing: content-box;
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -ms-transform-origin: center;
            -webkit-transform-origin: center;
            transform-origin: center;
            opacity: 1;
            cursor: default;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
            background-color: rgba(255, 255, 255, 0);
            text-align: left;
            letter-spacing: 0;
            color: rgba(255, 255, 255, 1);
            -webkit-text-stroke: unset;
            font-size: 25px;
            font-weight: 400;
            font-style: normal;
            font-family: tahoma_regular, Arial;
            text-decoration: none;
            box-shadow: none;
            overflow-x: unset;
            overflow-y: unset;
            white-space: pre;
            width: 274px;
            height: 30px;
            left: 11.328125vw;
            top: 136px
        }

        .ipadPro129inHomepage .footer7a2949b0 .psstGoDoSomeExploring {
            position: absolute;
            box-sizing: content-box;
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -ms-transform-origin: center;
            -webkit-transform-origin: center;
            transform-origin: center;
            opacity: 1;
            cursor: default;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
            background-color: rgba(255, 255, 255, 0);
            text-align: left;
            letter-spacing: 0;
            color: rgba(255, 255, 255, 1);
            -webkit-text-stroke: unset;
            font-size: 30px;
            font-weight: 400;
            font-style: normal;
            font-family: tahoma_regular, Arial;
            text-decoration: none;
            box-shadow: none;
            overflow-x: unset;
            overflow-y: unset;
            white-space: pre;
            width: 377px;
            height: 36px;
            left: 58.105469vw;
            top: 103px
        }