html {
    height: 100%;
    width: 100%
}

body {
    font-family: "Open Sans", serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none
}

@font-face {
    font-family: tahoma_regular;
    src: url(assets/tahoma.woff2) format("woff2"), url(assets/tahoma.ttf) format("truetype")
}

@font-face {
    font-family: tahoma_bold;
    src: url(assets/tahomabd.woff2) format("woff2"), url(assets/tahomabd.ttf) format("truetype")
}

.iphone12ProMaxHomepage {
    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    overflow-x: auto;
    overflow-y: auto;
    background-color: rgba(16, 16, 51, 1);
    width: auto;
    height: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0
}

    .iphone12ProMaxHomepage .navbar {
        display: block;
        position: absolute;
        box-sizing: content-box;
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -ms-transform-origin: center;
        -webkit-transform-origin: center;
        transform-origin: center;
        opacity: 1;
        cursor: default;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
        overflow-x: unset;
        overflow-y: unset;
        background-color: transparent;
        width: 428px;
        height: 926px;
        left: 0;
        top: 0
    }

        .iphone12ProMaxHomepage .navbar .rectangle2 {
            position: absolute;
            box-sizing: content-box;
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -ms-transform-origin: center;
            -webkit-transform-origin: center;
            transform-origin: center;
            opacity: 1;
            cursor: default;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
            background-color: rgba(16, 16, 51, 1);
            border-bottom-color: rgba(248, 248, 248, 1);
            border-bottom-style: none;
            border-bottom-width: 1px;
            border-left-color: rgba(248, 248, 248, 1);
            border-left-style: none;
            border-left-width: 1px;
            border-right-color: rgba(248, 248, 248, 1);
            border-right-style: none;
            border-right-width: 1px;
            border-top-color: rgba(248, 248, 248, 1);
            border-top-style: none;
            border-top-width: 1px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            box-shadow: none;
            width: 428px;
            height: 75px;
            left: 0;
            top: 0
        }

        .iphone12ProMaxHomepage .navbar .ethanDouglass6ee79e67 {
            position: absolute;
            box-sizing: content-box;
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -ms-transform-origin: center;
            -webkit-transform-origin: center;
            transform-origin: center;
            opacity: 1;
            cursor: default;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
            background-color: rgba(255, 255, 255, 0);
            text-align: left;
            letter-spacing: 0;
            color: rgba(255, 255, 255, 1);
            -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
            font-size: 30px;
            font-weight: 700;
            font-style: normal;
            font-family: tahoma_bold, Arial;
            text-decoration: none;
            box-shadow: none;
            overflow-x: unset;
            overflow-y: unset;
            white-space: pre;
            width: 233px;
            height: 36px;
            left: 4.672897vw;
            top: 20px
        }

        .iphone12ProMaxHomepage .navbar .hamburgerIcon {
            display: block;
            position: absolute;
            box-sizing: content-box;
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -ms-transform-origin: center;
            -webkit-transform-origin: center;
            transform-origin: center;
            opacity: 1;
            cursor: default;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
            overflow-x: unset;
            overflow-y: unset;
            background-color: transparent;
            width: 60.04px;
            height: 42px;
            left: 77.570093vw;
            top: 15px
        }

            .iphone12ProMaxHomepage .navbar .hamburgerIcon .rectangle9 {
                position: absolute;
                box-sizing: content-box;
                -ms-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                -ms-transform-origin: center;
                -webkit-transform-origin: center;
                transform-origin: center;
                opacity: 1;
                cursor: default;
                margin-top: 0;
                margin-right: 0;
                margin-bottom: 0;
                margin-left: 0;
                padding-top: 0;
                padding-right: 0;
                padding-bottom: 0;
                padding-left: 0;
                background-color: rgba(255, 255, 255, 1);
                border-bottom-color: rgba(112, 112, 112, 1);
                border-bottom-style: none;
                border-bottom-width: 1px;
                border-left-color: rgba(112, 112, 112, 1);
                border-left-style: none;
                border-left-width: 1px;
                border-right-color: rgba(112, 112, 112, 1);
                border-right-style: none;
                border-right-width: 1px;
                border-top-color: rgba(112, 112, 112, 1);
                border-top-style: none;
                border-top-width: 1px;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                box-shadow: none;
                width: 60px;
                height: 8px;
                left: 0.04px;
                top: 34px
            }

            .iphone12ProMaxHomepage .navbar .hamburgerIcon .rectangle10 {
                position: absolute;
                box-sizing: content-box;
                -ms-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                -ms-transform-origin: center;
                -webkit-transform-origin: center;
                transform-origin: center;
                opacity: 1;
                cursor: default;
                margin-top: 0;
                margin-right: 0;
                margin-bottom: 0;
                margin-left: 0;
                padding-top: 0;
                padding-right: 0;
                padding-bottom: 0;
                padding-left: 0;
                background-color: rgba(255, 255, 255, 1);
                border-bottom-color: rgba(112, 112, 112, 1);
                border-bottom-style: none;
                border-bottom-width: 1px;
                border-left-color: rgba(112, 112, 112, 1);
                border-left-style: none;
                border-left-width: 1px;
                border-right-color: rgba(112, 112, 112, 1);
                border-right-style: none;
                border-right-width: 1px;
                border-top-color: rgba(112, 112, 112, 1);
                border-top-style: none;
                border-top-width: 1px;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                box-shadow: none;
                width: 60px;
                height: 8px;
                left: 0;
                top: 17px
            }

            .iphone12ProMaxHomepage .navbar .hamburgerIcon .rectangle11 {
                position: absolute;
                box-sizing: content-box;
                -ms-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                -ms-transform-origin: center;
                -webkit-transform-origin: center;
                transform-origin: center;
                opacity: 1;
                cursor: default;
                margin-top: 0;
                margin-right: 0;
                margin-bottom: 0;
                margin-left: 0;
                padding-top: 0;
                padding-right: 0;
                padding-bottom: 0;
                padding-left: 0;
                background-color: rgba(255, 255, 255, 1);
                border-bottom-color: rgba(112, 112, 112, 1);
                border-bottom-style: none;
                border-bottom-width: 1px;
                border-left-color: rgba(112, 112, 112, 1);
                border-left-style: none;
                border-left-width: 1px;
                border-right-color: rgba(112, 112, 112, 1);
                border-right-style: none;
                border-right-width: 1px;
                border-top-color: rgba(112, 112, 112, 1);
                border-top-style: none;
                border-top-width: 1px;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                box-shadow: none;
                width: 60px;
                height: 8px;
                left: 0.04px;
                top: 0
            }

        .iphone12ProMaxHomepage .navbar .links {
            display: block;
            position: absolute;
            box-sizing: content-box;
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -ms-transform-origin: center;
            -webkit-transform-origin: center;
            transform-origin: center;
            opacity: 0;
            cursor: default;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
            overflow-x: unset;
            overflow-y: unset;
            background-color: transparent;
            width: 428px;
            height: 851px;
            left: 0;
            top: 75px
        }

            .iphone12ProMaxHomepage .navbar .links .rectangle12 {
                position: absolute;
                box-sizing: content-box;
                -ms-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                -ms-transform-origin: center;
                -webkit-transform-origin: center;
                transform-origin: center;
                opacity: 0;
                cursor: default;
                margin-top: 0;
                margin-right: 0;
                margin-bottom: 0;
                margin-left: 0;
                padding-top: 0;
                padding-right: 0;
                padding-bottom: 0;
                padding-left: 0;
                background-color: rgba(16, 16, 51, 1);
                border-bottom-color: rgba(112, 112, 112, 1);
                border-bottom-style: none;
                border-bottom-width: 1px;
                border-left-color: rgba(112, 112, 112, 1);
                border-left-style: none;
                border-left-width: 1px;
                border-right-color: rgba(112, 112, 112, 1);
                border-right-style: none;
                border-right-width: 1px;
                border-top-color: rgba(112, 112, 112, 1);
                border-top-style: none;
                border-top-width: 1px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                box-shadow: none;
                width: 428px;
                height: 851px;
                left: 0;
                top: 0
            }

            .iphone12ProMaxHomepage .navbar .links .component33 {
                display: block;
                position: absolute;
                box-sizing: content-box;
                -ms-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                -ms-transform-origin: center;
                -webkit-transform-origin: center;
                transform-origin: center;
                opacity: 1;
                cursor: default;
                margin-top: 0;
                margin-right: 0;
                margin-bottom: 0;
                margin-left: 0;
                padding-top: 0;
                padding-right: 0;
                padding-bottom: 0;
                padding-left: 0;
                overflow-x: unset;
                overflow-y: unset;
                background-color: transparent;
                width: 134px;
                height: 48px;
                left: 37.149533vw;
                top: 178px
            }

                .iphone12ProMaxHomepage .navbar .links .component33 .contact {
                    position: absolute;
                    box-sizing: content-box;
                    -ms-transform: rotate(0deg);
                    -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
                    -ms-transform-origin: center;
                    -webkit-transform-origin: center;
                    transform-origin: center;
                    opacity: 1;
                    cursor: default;
                    margin-top: 0;
                    margin-right: 0;
                    margin-bottom: 0;
                    margin-left: 0;
                    padding-top: 0;
                    padding-right: 0;
                    padding-bottom: 0;
                    padding-left: 0;
                    background-color: rgba(255, 255, 255, 0);
                    text-align: left;
                    letter-spacing: 0;
                    color: rgba(255, 255, 255, 1);
                    -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
                    font-size: 40px;
                    font-weight: 400;
                    font-style: normal;
                    font-family: tahoma_regular, Arial;
                    text-decoration: none;
                    box-shadow: none;
                    overflow-x: unset;
                    overflow-y: unset;
                    white-space: pre;
                    width: 134px;
                    height: 48px;
                    left: 0;
                    top: 0
                }

            .iphone12ProMaxHomepage .navbar .links .classwork8cbb49ce {
                display: block;
                position: absolute;
                box-sizing: content-box;
                -ms-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                -ms-transform-origin: center;
                -webkit-transform-origin: center;
                transform-origin: center;
                opacity: 1;
                cursor: pointer;
                margin-top: 0;
                margin-right: 0;
                margin-bottom: 0;
                margin-left: 0;
                padding-top: 0;
                padding-right: 0;
                padding-bottom: 0;
                padding-left: 0;
                overflow-x: unset;
                overflow-y: unset;
                background-color: transparent;
                width: 176px;
                height: 48px;
                left: 32.242991vw;
                top: 105px;
                border: none;
                outline: none
            }

                .iphone12ProMaxHomepage .navbar .links .classwork8cbb49ce .classwork061998fa {
                    position: absolute;
                    box-sizing: content-box;
                    -ms-transform: rotate(0deg);
                    -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
                    -ms-transform-origin: center;
                    -webkit-transform-origin: center;
                    transform-origin: center;
                    opacity: 1;
                    cursor: pointer;
                    margin-top: 0;
                    margin-right: 0;
                    margin-bottom: 0;
                    margin-left: 0;
                    padding-top: 0;
                    padding-right: 0;
                    padding-bottom: 0;
                    padding-left: 0;
                    background-color: rgba(255, 255, 255, 0);
                    text-align: left;
                    letter-spacing: 0;
                    color: rgba(255, 255, 255, 1);
                    -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
                    font-size: 40px;
                    font-weight: 400;
                    font-style: normal;
                    font-family: tahoma_regular, Arial;
                    text-decoration: none;
                    box-shadow: none;
                    overflow-x: unset;
                    overflow-y: unset;
                    white-space: pre;
                    width: 176px;
                    height: 48px;
                    left: 0;
                    top: 0
                }

            .iphone12ProMaxHomepage .navbar .links .homeLink {
                display: block;
                position: absolute;
                box-sizing: content-box;
                -ms-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                -ms-transform-origin: center;
                -webkit-transform-origin: center;
                transform-origin: center;
                opacity: 1;
                cursor: pointer;
                margin-top: 0;
                margin-right: 0;
                margin-bottom: 0;
                margin-left: 0;
                padding-top: 0;
                padding-right: 0;
                padding-bottom: 0;
                padding-left: 0;
                overflow-x: unset;
                overflow-y: unset;
                background-color: transparent;
                width: 103px;
                height: 48px;
                left: 40.654206vw;
                top: 32px;
                border: none;
                outline: none
            }

                .iphone12ProMaxHomepage .navbar .links .homeLink .home {
                    position: absolute;
                    box-sizing: content-box;
                    -ms-transform: rotate(0deg);
                    -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
                    -ms-transform-origin: center;
                    -webkit-transform-origin: center;
                    transform-origin: center;
                    opacity: 1;
                    cursor: pointer;
                    margin-top: 0;
                    margin-right: 0;
                    margin-bottom: 0;
                    margin-left: 0;
                    padding-top: 0;
                    padding-right: 0;
                    padding-bottom: 0;
                    padding-left: 0;
                    background-color: rgba(255, 255, 255, 0);
                    text-align: left;
                    letter-spacing: 0;
                    color: rgba(255, 255, 255, 1);
                    -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
                    font-size: 40px;
                    font-weight: 400;
                    font-style: normal;
                    font-family: tahoma_regular, Arial;
                    text-decoration: none;
                    box-shadow: none;
                    overflow-x: unset;
                    overflow-y: unset;
                    white-space: pre;
                    width: 103px;
                    height: 48px;
                    left: 0;
                    top: 0
                }

    .iphone12ProMaxHomepage .hiThereImEthanaspiringDeveloperAndStudentInSherwoodOregonFluentInC {
        position: absolute;
        box-sizing: content-box;
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -ms-transform-origin: center;
        -webkit-transform-origin: center;
        transform-origin: center;
        opacity: 1;
        cursor: default;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
        background-color: rgba(255, 255, 255, 0);
        text-align: left;
        line-height: 52px;
        letter-spacing: 0;
        color: rgba(255, 255, 255, 1);
        -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
        font-size: 25px;
        font-weight: 400;
        font-style: normal;
        font-family: tahoma_regular, Arial;
        text-decoration: none;
        box-shadow: none;
        overflow-x: unset;
        overflow-y: unset;
        width: 411px;
        height: 442px;
        left: 1.869159vw;
        top: 142px
    }

        .iphone12ProMaxHomepage .hiThereImEthanaspiringDeveloperAndStudentInSherwoodOregonFluentInC .hiThereImEthanaspiringDeveloperAndStudentInSherwoodOregonFluentInC-0 {
            color: rgba(255, 255, 255, 1);
            font-weight: 700;
            font-style: normal;
            font-size: 50px;
            font-family: tahoma_bold, Arial;
            letter-spacing: 0;
            text-decoration: none
        }

        .iphone12ProMaxHomepage .hiThereImEthanaspiringDeveloperAndStudentInSherwoodOregonFluentInC .hiThereImEthanaspiringDeveloperAndStudentInSherwoodOregonFluentInC-21 {
            color: rgba(255, 255, 255, 1);
            font-weight: 400;
            font-style: normal;
            font-size: 25px;
            font-family: tahoma_regular, Arial;
            letter-spacing: 0;
            text-decoration: none
        }

    .iphone12ProMaxHomepage .rectangle13 {
        position: absolute;
        box-sizing: content-box;
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -ms-transform-origin: center;
        -webkit-transform-origin: center;
        transform-origin: center;
        opacity: 1;
        cursor: default;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
        background-color: rgba(9, 9, 29, 1);
        border-bottom-color: rgba(112, 112, 112, 1);
        border-bottom-style: none;
        border-bottom-width: 1px;
        border-left-color: rgba(112, 112, 112, 1);
        border-left-style: none;
        border-left-width: 1px;
        border-right-color: rgba(112, 112, 112, 1);
        border-right-style: none;
        border-right-width: 1px;
        border-top-color: rgba(112, 112, 112, 1);
        border-top-style: none;
        border-top-width: 1px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: none;
        width: 368px;
        height: 388px;
        left: 7.009346vw;
        top: 638px
    }

    .iphone12ProMaxHomepage .introBlurb {
        display: block;
        position: absolute;
        box-sizing: content-box;
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -ms-transform-origin: center;
        -webkit-transform-origin: center;
        transform-origin: center;
        opacity: 1;
        cursor: default;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
        overflow-x: unset;
        overflow-y: unset;
        background-color: transparent;
        width: 428px;
        height: 445px;
        left: 0;
        top: 1038px
    }

        .iphone12ProMaxHomepage .introBlurb .maskGroup2 {
            display: block;
            position: absolute;
            box-sizing: content-box;
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -ms-transform-origin: center;
            -webkit-transform-origin: center;
            transform-origin: center;
            background-image: url(./assets/maskGroupPhone.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 1;
            cursor: default;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
            overflow-x: unset;
            overflow-y: unset;
            background-color: transparent;
            width: 428px;
            height: 445px;
            left: 0;
            top: 0
        }

            .iphone12ProMaxHomepage .introBlurb .maskGroup2 .ellipse1 {
                position: absolute;
                box-sizing: content-box;
                -ms-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                -ms-transform-origin: center;
                -webkit-transform-origin: center;
                transform-origin: center;
                opacity: 1;
                cursor: default;
                margin-top: 0;
                margin-right: 0;
                margin-bottom: 0;
                margin-left: 0;
                padding-top: 0;
                padding-right: 0;
                padding-bottom: 0;
                padding-left: 0;
                fill: rgba(255, 36, 255, 1);
                box-shadow: none;
                width: 237.77px;
                height: 237.77px;
                left: -31.074766vw;
                top: -118.88px
            }

            .iphone12ProMaxHomepage .introBlurb .maskGroup2 .ellipse2 {
                position: absolute;
                box-sizing: content-box;
                -ms-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                -ms-transform-origin: center;
                -webkit-transform-origin: center;
                transform-origin: center;
                opacity: 1;
                cursor: default;
                margin-top: 0;
                margin-right: 0;
                margin-bottom: 0;
                margin-left: 0;
                padding-top: 0;
                padding-right: 0;
                padding-bottom: 0;
                padding-left: 0;
                fill: rgba(36, 255, 80, 1);
                box-shadow: none;
                width: 237.77px;
                height: 237.77px;
                left: 299.11px;
                top: 326.11px
            }

            .iphone12ProMaxHomepage .introBlurb .maskGroup2 .rectangle8 {
                position: absolute;
                box-sizing: border-box;
                -ms-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                -ms-transform-origin: center;
                -webkit-transform-origin: center;
                transform-origin: center;
                opacity: 1;
                cursor: default;
                margin-top: 0;
                margin-right: 0;
                margin-bottom: 0;
                margin-left: 0;
                padding-top: 0;
                padding-right: 0;
                padding-bottom: 0;
                padding-left: 0;
                background-color: rgba(255, 255, 255, 1);
                border-bottom-color: rgba(112, 112, 112, 1);
                border-bottom-style: solid;
                border-bottom-width: 1px;
                border-left-color: rgba(112, 112, 112, 1);
                border-left-style: solid;
                border-left-width: 1px;
                border-right-color: rgba(112, 112, 112, 1);
                border-right-style: solid;
                border-right-width: 1px;
                border-top-color: rgba(112, 112, 112, 1);
                border-top-style: solid;
                border-top-width: 1px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                box-shadow: none;
                width: 428px;
                height: 445px;
                left: 0;
                top: 0
            }

        .iphone12ProMaxHomepage .introBlurb .niceToSeeYou {
            position: absolute;
            box-sizing: content-box;
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -ms-transform-origin: center;
            -webkit-transform-origin: center;
            transform-origin: center;
            opacity: 1;
            cursor: default;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
            background-color: rgba(255, 255, 255, 0);
            text-align: center;
            line-height: 52px;
            letter-spacing: 0;
            color: rgba(255, 255, 255, 1);
            -webkit-text-stroke: unset;
            font-size: 30px;
            font-weight: 700;
            font-style: normal;
            font-family: tahoma_bold, Arial;
            text-decoration: none;
            box-shadow: none;
            overflow-x: unset;
            overflow-y: unset;
            width: 282px;
            height: 52px;
            left: 29.672897vw;
            top: 54px
        }

        .iphone12ProMaxHomepage .introBlurb .iBetYouWantToKnowAboutMeCauseYourOnMySite {
            position: absolute;
            box-sizing: content-box;
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -ms-transform-origin: center;
            -webkit-transform-origin: center;
            transform-origin: center;
            opacity: 1;
            cursor: default;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
            background-color: rgba(255, 255, 255, 0);
            text-align: center;
            line-height: 18px;
            letter-spacing: 0;
            color: rgba(255, 255, 255, 1);
            -webkit-text-stroke: unset;
            font-size: 15px;
            font-weight: 400;
            font-style: normal;
            font-family: tahoma_regular, Arial;
            text-decoration: none;
            box-shadow: none;
            overflow-x: unset;
            overflow-y: unset;
            width: 228px;
            height: 82px;
            left: 35.981308vw;
            top: 109px
        }

        .iphone12ProMaxHomepage .introBlurb .iLiveInSherwoodOregonInTheUnitedStatesAndILoveAllThingsTechAndProgrammingIveWorkedOnAllSortsOfHobbyProjectsIncludingMicroelectronicsGameDesignFullStackDevelopmentAndSomeOtherThingsTooMyDreamJobWouldBeASoftwa {
            position: absolute;
            box-sizing: content-box;
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -ms-transform-origin: center;
            -webkit-transform-origin: center;
            transform-origin: center;
            opacity: 1;
            cursor: default;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
            background-color: rgba(255, 255, 255, 0);
            text-align: center;
            line-height: 18px;
            letter-spacing: 0;
            color: rgba(255, 255, 255, 1);
            -webkit-text-stroke: unset;
            font-size: 15px;
            font-weight: 400;
            font-style: normal;
            font-family: tahoma_regular, Arial;
            text-decoration: none;
            box-shadow: none;
            overflow-x: auto;
            overflow-y: auto;
            width: 289px;
            height: 93px;
            left: 6.308411vw;
            top: 247px
        }

        .iphone12ProMaxHomepage .introBlurb .okSoHeresABlurb {
            position: absolute;
            box-sizing: content-box;
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -ms-transform-origin: center;
            -webkit-transform-origin: center;
            transform-origin: center;
            opacity: 1;
            cursor: default;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
            background-color: rgba(255, 255, 255, 0);
            text-align: center;
            line-height: 52px;
            letter-spacing: 0;
            color: rgba(255, 255, 255, 1);
            -webkit-text-stroke: unset;
            font-size: 15px;
            font-weight: 400;
            font-style: normal;
            font-family: tahoma_regular, Arial;
            text-decoration: none;
            box-shadow: none;
            overflow-x: unset;
            overflow-y: unset;
            width: 150px;
            height: 24px;
            left: 22.663551vw;
            top: 206px
        }

    .iphone12ProMaxHomepage .footer7dbd6d18 {
        display: block;
        position: absolute;
        box-sizing: content-box;
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -ms-transform-origin: center;
        -webkit-transform-origin: center;
        transform-origin: center;
        opacity: 1;
        cursor: default;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
        overflow-x: unset;
        overflow-y: unset;
        background-color: transparent;
        width: 428px;
        height: 147px;
        left: 0;
        top: 1482px
    }

        .iphone12ProMaxHomepage .footer7dbd6d18 .footer {
            position: absolute;
            box-sizing: content-box;
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -ms-transform-origin: center;
            -webkit-transform-origin: center;
            transform-origin: center;
            opacity: 1;
            cursor: default;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
            background-color: transparent;
            border-bottom-color: rgba(112, 112, 112, 1);
            border-bottom-style: none;
            border-bottom-width: 1px;
            border-left-color: rgba(112, 112, 112, 1);
            border-left-style: none;
            border-left-width: 1px;
            border-right-color: rgba(112, 112, 112, 1);
            border-right-style: none;
            border-right-width: 1px;
            border-top-color: rgba(112, 112, 112, 1);
            border-top-style: none;
            border-top-width: 1px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            box-shadow: none;
            width: 428px;
            height: 147px;
            left: 0;
            top: 0
        }

        .iphone12ProMaxHomepage .footer7dbd6d18 .classworka39cbfba {
            display: block;
            position: absolute;
            box-sizing: content-box;
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -ms-transform-origin: center;
            -webkit-transform-origin: center;
            transform-origin: center;
            opacity: 1;
            cursor: pointer;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
            overflow-x: unset;
            overflow-y: unset;
            background-color: transparent;
            width: 79px;
            height: 22px;
            left: 16.121495vw;
            top: 34px;
            border: none;
            outline: none
        }

            .iphone12ProMaxHomepage .footer7dbd6d18 .classworka39cbfba .classwork5ded3970 {
                position: absolute;
                box-sizing: content-box;
                -ms-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                -ms-transform-origin: center;
                -webkit-transform-origin: center;
                transform-origin: center;
                opacity: 1;
                cursor: pointer;
                margin-top: 0;
                margin-right: 0;
                margin-bottom: 0;
                margin-left: 0;
                padding-top: 0;
                padding-right: 0;
                padding-bottom: 0;
                padding-left: 0;
                background-color: rgba(255, 255, 255, 0);
                text-align: left;
                letter-spacing: 0;
                color: rgba(255, 255, 255, 1);
                -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
                font-size: 18px;
                font-weight: 400;
                font-style: normal;
                font-family: tahoma_regular, Arial;
                text-decoration: none;
                box-shadow: none;
                overflow-x: unset;
                overflow-y: unset;
                white-space: pre;
                width: 79px;
                height: 22px;
                left: 0;
                top: 0
            }

        .iphone12ProMaxHomepage .footer7dbd6d18 .classworkf962f8b9 {
            display: block;
            position: absolute;
            box-sizing: content-box;
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -ms-transform-origin: center;
            -webkit-transform-origin: center;
            transform-origin: center;
            opacity: 1;
            cursor: pointer;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
            overflow-x: unset;
            overflow-y: unset;
            background-color: transparent;
            width: 60px;
            height: 22px;
            left: 65.654206vw;
            top: 34px;
            border: none;
            outline: none
        }

            .iphone12ProMaxHomepage .footer7dbd6d18 .classworkf962f8b9 .classworkd3ba3790 {
                position: absolute;
                box-sizing: content-box;
                -ms-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                -ms-transform-origin: center;
                -webkit-transform-origin: center;
                transform-origin: center;
                opacity: 1;
                cursor: pointer;
                margin-top: 0;
                margin-right: 0;
                margin-bottom: 0;
                margin-left: 0;
                padding-top: 0;
                padding-right: 0;
                padding-bottom: 0;
                padding-left: 0;
                background-color: rgba(255, 255, 255, 0);
                text-align: left;
                letter-spacing: 0;
                color: rgba(255, 255, 255, 1);
                -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
                font-size: 18px;
                font-weight: 400;
                font-style: normal;
                font-family: tahoma_regular, Arial;
                text-decoration: none;
                box-shadow: none;
                overflow-x: unset;
                overflow-y: unset;
                white-space: pre;
                width: 60px;
                height: 22px;
                left: 0;
                top: 0
            }

        .iphone12ProMaxHomepage .footer7dbd6d18 .projects {
            display: block;
            position: absolute;
            box-sizing: content-box;
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -ms-transform-origin: center;
            -webkit-transform-origin: center;
            transform-origin: center;
            opacity: 1;
            cursor: pointer;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
            overflow-x: unset;
            overflow-y: unset;
            background-color: transparent;
            width: 63px;
            height: 22px;
            left: 42.757009vw;
            top: 34px;
            border: none;
            outline: none
        }

            .iphone12ProMaxHomepage .footer7dbd6d18 .projects .classwork {
                position: absolute;
                box-sizing: content-box;
                -ms-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                -ms-transform-origin: center;
                -webkit-transform-origin: center;
                transform-origin: center;
                opacity: 1;
                cursor: pointer;
                margin-top: 0;
                margin-right: 0;
                margin-bottom: 0;
                margin-left: 0;
                padding-top: 0;
                padding-right: 0;
                padding-bottom: 0;
                padding-left: 0;
                background-color: rgba(255, 255, 255, 0);
                text-align: left;
                letter-spacing: 0;
                color: rgba(255, 255, 255, 1);
                -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
                font-size: 18px;
                font-weight: 400;
                font-style: normal;
                font-family: tahoma_regular, Arial;
                text-decoration: none;
                box-shadow: none;
                overflow-x: unset;
                overflow-y: unset;
                white-space: pre;
                width: 63px;
                height: 22px;
                left: 0;
                top: 0
            }

        .iphone12ProMaxHomepage .footer7dbd6d18 .ethanDouglass {
            position: absolute;
            box-sizing: content-box;
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -ms-transform-origin: center;
            -webkit-transform-origin: center;
            transform-origin: center;
            opacity: 1;
            cursor: default;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
            background-color: rgba(255, 255, 255, 0);
            text-align: left;
            letter-spacing: 0;
            color: rgba(255, 255, 255, 1);
            -webkit-text-stroke: unset;
            font-size: 15px;
            font-weight: 400;
            font-style: normal;
            font-family: tahoma_regular, Arial;
            text-decoration: none;
            box-shadow: none;
            overflow-x: unset;
            overflow-y: unset;
            white-space: pre;
            width: 119px;
            height: 18px;
            left: 36.214953vw;
            top: 110px
        }

        .iphone12ProMaxHomepage .footer7dbd6d18 .psstGoDoSomeExploring {
            position: absolute;
            box-sizing: content-box;
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -ms-transform-origin: center;
            -webkit-transform-origin: center;
            transform-origin: center;
            opacity: 1;
            cursor: default;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
            background-color: rgba(255, 255, 255, 0);
            text-align: left;
            letter-spacing: 0;
            color: rgba(255, 255, 255, 1);
            -webkit-text-stroke: unset;
            font-size: 15px;
            font-weight: 400;
            font-style: normal;
            font-family: tahoma_regular, Arial;
            text-decoration: none;
            box-shadow: none;
            overflow-x: unset;
            overflow-y: unset;
            white-space: pre;
            width: 188px;
            height: 18px;
            left: 28.037383vw;
            top: 74px
        }